 /*todo подписать.*/
.containerSignUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 15px;
}
 
 .formSignUp {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px;
 }