
.containerPK {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px 60px;
    padding: 0.5% 5vw;
}

.parameter_in_pk {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.photo_pk {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.show_menu_header_params_1_PARAM {
    font-size: 18px;
    font-weight: bold;
    color: #f8f8d9;

    padding-bottom: 5%;
}