
.containerFooter {

    /*display: flex;*/
    /*justify-content: space-between;*/

    /*align-items: center;*/
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    white-space: nowrap;
    background-color: #287233;
    color: #f8f8d9;
    padding: 0.5% 5vw;
    margin-top: 3vh;
}

.footer {
    flex: 0 0 auto;
    background-color: #287233;
    color: #f8f8d9;

    padding: 0.5% 5vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}