.bodyBlockDish {
    display: flex;
    flex-wrap: wrap;
    padding: 0 22vh;
    gap: 20px;
    text-align: center;
}

.blockDish {
    color: black;
    background: grey;
    padding: 15px;
    border-radius: 11px;
    margin-top: 10px;
}

